<!DOCTYPE html>
<html>
  <head>
    <title>Allergy scorer</title>
  </head>
  <body>
    <form action="/allergyForm" method="post">  <!-- Checkboxes return value equal to their index in the allergens dictionary -->
      <input type="checkbox" id="allergyEggs" value="0">
      <label for="allergyEggs">Eggs</label>
      <input type="checkbox" id="allergyPeanuts" value="1">
      <label for="allergyPeanuts">Peanuts</label>
      <input type="checkbox" id="allergyShellfish" value="2">
      <label for="allergyShellfish">Shellfish</label>

    </form>
  </body>
</html>